<h1>New Child</h1>

<% if @child.errors.any? %>
<h3>Oops there were some errors. Please try again:</h3>
<ul>
  <% @child.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>


<%= form_for @child do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :age %>
<%= f.number_field :age %>

<%= f.label :home %>
<%= f.text_field :home %>

<%= f.label :school %>
<%= f.text_field :school %>

<%= f.label :aspirations %>
<%= f.text_field :aspirations %>

<%= f.label :siblings %>
<%= f.number_field :siblings %>



<%= f.submit %>
<% end %>
