<div class="circles-index">
  <div class="container">
    <h1 class="animated slideInLeft">CIRCLES</h1>
  </div>
</div>
<div class="container circles-container">
  <p id="notice"><%= notice %></p>
  <div class="row padding-top-10 padding-bottom-10 center">
    <% @circles.each do |circle| %>
    <div class="col-md-4 slideanim">
      <br><br>
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="<%= circle.image %>" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title a-black "><%= link_to circle.name, circle %></h4>
          <p class="card-text"><%= truncate(circle.description, length:90 ) %></p>
          <%= link_to "SEE MORE" , circle, class:"btn btn-primary" %>
          <%= link_to "Join", join_circle_path(circle), class:"btn btn-outline-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
