<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>BlueCircle</title>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/LACMTA_Circle_Blue_Line.svg/2000px-LACMTA_Circle_Blue_Line.svg.png">
	</head>
	<body>
		<div class="navbar-fixed">
			<nav id="navbar">
				<div class="nav-wrapper container">
					<a href="/" class="brand-logo">BC</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li class="nav-li"><a href="/circles">Circles</a></li>
						<% if user_signed_in? %>
							<li><%= link_to current_user.email, profile_path(@user) %></li>
							<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
						<% else %>
							<li><%= link_to "Sign in", new_user_session_path %></li>
							<li><%= link_to "Sign up", new_user_registration_path %></li>
						<% end %>
					</ul>
				</div>
			</nav>
		</div>
		<%= yield %>
	</body>
</html>